doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Microsoft Office
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="style.css")
  
body

  header.herader-container
    nav.navbar.nav-expand-sm.navbar-expand-md.bg-white.navbar-light.fixed-top
      .container
        li.nav-item.list-ul: a.nav-link(href="#")
          a.icon-burger(href="#"): i.fas.fa-bars.brs
          a.icon-serch(href="#"): i.fas.fa-search.src
          img.img-fluid.img-microsoft(src="img/RE1Mu3b.png", alt="Microsoft Logo")
          a.icon-user(href="#"): i.fas.fa-user-circle.cicle

          li(class="nav-item"): a(class="nav-link list_ul-" href="#") |
          li(class="nav-item dropdown"): a(class="nav-link list_ul--" href="#") office
            

          li(class="nav-item dropdown list-automatic")
            a(class="nav-link dropdown-toggle list_ul_link_" href="#" data-toggle="dropdown") office
                    
            div(class="dropdown-menu")
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link

          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle list_ul_link" href="#" data-toggle="dropdown") productos
                    
            div(class="dropdown-menu")
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link

          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle list_ul_link-" href="#" data-toggle="dropdown") recursos
                    
            div(class="dropdown-menu")
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link
              a(href="#" class="dropdown-item") Link

          li(class="nav-item"): a(class="nav-link list_ul_link-" href="#") plantillas
          li(class="nav-item"): a(class="nav-link list_ul_link-" href="#") soporte
          li(class="nav-item"): a(class="nav-link list_ul_link-" href="#") comprar office 365

        div(class="collapse navbar-collapse links_top" id="forNavbar")
                ul(class="navbar-nav ml-auto")
                  li(class="nav-item dropdown d-ns")
                    a(class="nav-link dropdown-toggle" href="#" data-toggle="dropdown") todo microsoft
                    
                    div(class="dropdown-menu")
                      a(href="#" class="dropdown-item") Link
                      a(href="#" class="dropdown-item") Link
                      a(href="#" class="dropdown-item") Link
                      a(href="#" class="dropdown-item") Link

                  li.nav-link: a.dropdown-item.list-icon.d-ns(href="#"): i.fas.fa-search

                  li.nav-link: a.dropdown-item.list_icon.usser(href="#"): i.fas.fa-user-circle
                    
  .365-img
    img.img-fluid.img-365(src="img/RE3BTFp.jpg", alt="365 Logo")
    .container
      .text_center-365

        h1.title-principal este es tu 365

        p.text-title cada dia tíenes una oportunidad nueca con office 365

        button.btn.btn-warning.btn-war.mt-4 para el hogar

        button.btn.btn-warning.btn-war.mt-3.btn-plus para el empresas

    section.text-info-365
      .container
        .text_info_hijo

          h2.sub-title-principal qué es office 365

          p.text_info_1 Office 365 es un servicio de suscripción basado en la nube que reúne las mejores herramientas para la forma de trabajar de hoy en día. Al combinar las mejores aplicaciones de su categoría, como Excel y Outlook, con servicios de gran utilidad en la nube, como OneDrive y Microsoft Teams, Office 365 permite a los usuarios crear y compartir desde cualquier lugar y dispositivo.
        
      .tex_info-img

      img.img-fluid.img_tablet(src="img/RE49D7o.webp", alt="")

    section.text_info
      .container
        .text_info-hijo

          h3.title_info más informacion sobre office 365

          .c-info_icon.col-md-3
            img(src="img/RE3hsE5.png", alt="Icon Representing a Small Bussines")

            p.text_icon hogar

            a.link(href="#") más información ➣

        .text_info-
          .c-info_icon.col-md-3
            img(src="img/RE3hxRH.webp", alt="Icon Representing a Small Bussines")

            p.text_icon pequeñas empresas

            a.link(href="#") más información ➣

        .text_info-
          .c-info_icon.col-md-3
            img(src="img/RE3hSFA.png", alt="Icon Representing a Small Bussines")

            p.text_icon grandes empresas

            a.link(href="#") más información ➣

        .text_info-.mb-5
          .c-info_icon.col-md-3
            img(src="img/RE3hKSi.png", alt="Icon Representing a Small Bussines")

            p.text_icon ámbito educativo

            a.link(href="#") más información ➣




































































script(src="js/jquery-3.2.1.slim.min.js")
  script(src="js/popper.min.js")
  script(src="js/bootstrap.min.js")
  script(src="fontawesome/fontawesome-free-5.8.2-web/js/all.min.js")